body,html{
	height:100%;

}
body {
	background:url("C:\Users\usuario_fadp\Documents\MXPA\PAGINA DIA DE LOS MUERTOS");
}
</style>




h1{
margin: 0 auto;
display: flex;
justify-content: center;
margin-bottom: 60px;
}
#cuadrogeneral{
	background:;
	width: 80%;
	margin: 0 auto;
	display: flex;

}
.cuadromediano{
	width: 50%;
	justify-content: center;
	text-align: center;
}
.cuadritos{
	width: 40%;
	height: 70px;
	background: #BB9EFD;
	margin: 10px;
}

.img{
	margin-top: 50px;
	display: flex;
	width: 500px;
	height: 300px;
}

